body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

main>h3 {
  color: aqua;
  display: grid;
  justify-content: center;
}

.headers {
  color: blue;
}

#catimage {
  display: grid;
  justify-content: center;
}

article p {
  font-size: 2.5rem;
}

#text+p {
  color: chocolate;
}