body {
  margin: 0px;
  padding: 0px;
}

/* ID Item Selector */
#griditemcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* Class Item Selector */
.griditem {
  border: solid 2px blue;
  padding: 0px;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Descendant Selector (Space) */
.griditem p {
  font-size: large;
  font-style: normal;
  word-wrap: normal;
  color: blue;
}

/* Child Selector (>) */
.griditem>img {
  width: 456px;
  height: auto;
  box-sizing: border-box;
}

/* Adjacent Selector (+) */
img+h1 {
  color: red;
  font-weight: bold;
  background-color: aliceblue;
}